.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 1.5em;
        font-weight: 700;
        color: #ffd700;
        background-color: transparent;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #000;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin: 0 0 0.5em 0;
    }
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 10px #000;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.container {
    display: grid;
    place-items: center;
    padding: 2em;
    background: #ffd700;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;

    .turn {
        font-size: 1em;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        background-color: transparent;
        letter-spacing: 2px;
        text-shadow: 0 0 10px #ffd700;
        outline: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1em;
        width: 100%;
        height: 100%;
        margin-top: 1em;
    }

    .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #000;
        font-size: 3em;
        font-weight: 700;
        text-shadow: 0 0 10px #000;

        &:hover {
            background: #ffd700;
        }

        &.x {
            color: #000;
            font-size: 5em;
            font-weight: 700;
            text-shadow: 0 0 10px #000;
        }

        &.o {
            color: #ffd700;
            font-size: 5em;
            font-weight: 700;
            text-shadow: 0 0 10px #ffd700;
        }
    }
}