.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: -10em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
    }
}

.game__ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    filter: drop-shadow(0 0 10px #000);

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: fixed;
        background: whitesmoke;
        padding: 1em;   
        z-index: 50;
        display: none;
    }
}

.appear {
    display: flex;
}

.waiting__text {
    font-size: 4em;
    font-weight: 700;
    color: #ffd700;
    background-color: transparent;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::after {
        content: "/>";
        margin-left: 0.5em;
        animation: move 1s infinite;

        @keyframes move {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(10px);
            }

            100% {
                transform: translateX(0);
            }
        }
    }

    &::before {
        content: "<";
        margin-right: 0.5em;
    }

    @media screen and (max-width: 768px) {
        font-size: 1.2rem;
    }
}