.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.game__ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: -3em;
}

.rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 70vh;
    filter: drop-shadow(0 0 10px #000);
}

.waiting__text {
    font-size: 5em;
    font-weight: 700;
    color: #ffd700;
    background-color: transparent;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #000;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::after {
        content: "/>";
        margin-left: 0.5em;
        animation: move 1s infinite;

        @keyframes move {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(10px);
            }

            100% {
                transform: translateX(0);
            }
        }
    }

    &::before {
        content: "<";
        margin-right: 0.5em;
    }
}