@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.text__animate {
  display: inline-block;
  position: relative;
  animation: bounceIn 1s ease 1s forwards;
  opacity: 0;
  min-width: 10px;

  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3);
    }

    50% {
      opacity: 1;
      transform: scale(1.05);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.text__animate__hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s ease 0s 1;
    color: #ffd700;
  }
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@for $i from 1 through 45 {
  ._#{$i} {
    animation-delay: #{$i / 10}s;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
  }
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0c943;
}

.str-chat__input-flat {
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #000;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
  outline: none;
  transition: all 0.3s ease-in-out;
}